Flask==1.1.2
SQLAlchemy<1.4
Flask-SQLAlchemy==2.4.4


Cython
matplotlib==3.2.2
numpy==1.18.5
opencv-python~=4.1.2
pillow~=8.0.1
PyYAML~=5.3
scipy~=1.4.1
tensorboard~=2.2
torch~=1.6.0
torchvision~=0.7.0
tqdm~=4.41.0

flasgger==0.9.5
Werkzeug==1.0.1
